{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae cumque vitae exercitationem in ipsam expedita maxime labore. Facere laboriosam cum aspernatur id veritatis saepe dignissimos omnis deleniti ducimus! Repellat, deserunt! Cupiditate aliquid, dicta suscipit nisi velit rerum qui ab dolor, minima deleniti consectetur expedita. Nobis eius ipsam, temporibus quo necessitatibus qui. Eveniet esse quos consequuntur alias beatae minus soluta fuga doloribus. Quas facere rerum quidem id atque molestias repudiandae cumque ducimus, labore fugiat, quo natus possimus? Fugit quidem nesciunt similique vel quasi voluptatibus iste aliquam, molestiae impedit est quia consequatur. Assumenda nobis doloremque provident 
        repudiandae dolorem aspernatur facilis voluptatibus saepe.</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}